[Unit]
Description=Start sharing ssh over zrok
After=network.target

[Service]
WorkingDirectory=/home/tygoe/Documents/mcserver
ExecStart=/usr/bin/zrok share reserved zrokssh --headless
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
